.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-brand {
    font-size: 2rem;
}

.page-header-ui {
    background-image: url(../img/header.jpg);
}

.page-header-ui-dark .page-header-ui-text {
    color: white !important;
}

.nav-item .nav-link.active {
    color: var(--bs-primary) !important;
}

.card-text.focus {
    font-size: 1.1rem;
}

.page-header-ui-content {
    opacity: 0.9999;
}

@media screen {
    html:not(.no-js) [data-aos^="fade"][data-aos^="fade"].aos-animate {
        opacity: 0.9999 !important;
    }
}

@media (max-width: 991px) {
    .navbar-dark .navbar-brand {
        font-size: 1.5rem;
    }

    .navbar-marketing {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .page-header-ui {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}