.markdown p,
.markdown div,
.markdown ul,
.markdown ol,
.markdown blockquote,
.markdown pre,
.markdown table {
    margin: 2rem 0;
}

.markdown blockquote {
    background-color: #e6eaef;
    border-left: 5px solid #e74c3c;
    padding: 0 10px;
    color: #777;
}

.markdown *:not(pre) code {
    background-color: #f8f8f8;
    color: #333;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    padding: 2px 4px;
}

.markdown pre {
    background-color: #282c34;;
    color: #ccc;
    border-radius: 8px;
    border: 1px solid #454c57;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    padding: 10px;
    overflow: auto;
}

.markdown img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(33, 40, 50, 0.2) !important;
}

.markdown .alert {
    position: relative;
    padding-left: 3.25rem;
}

.markdown .alert:before {
    position: absolute;
    top: calc(50% - .75rem);
    left: 1rem;
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-right: 20px;
}

.markdown .alert-info::before {
    content: "\f05a";
}

.markdown .alert-warning::before {
    content: "\f071";
}

.markdown .alert-danger::before {
    content: "\f06a";
}

.markdown .alert-success::before {
    content: "\f058";
}

.markdown table {
    border-collapse: collapse;
    caption-side: bottom;
    border-spacing: 0;
    width: 100%;
    overflow: auto;
    color: #69707a;
}

.markdown table th,
.markdown table td {
    padding: .75rem;
    border: 1px solid #e0e5ec;
}

.markdown table th {
    background-color: var(--bs-light);
    font-weight: 700;
    border-bottom: 2px solid #69707a;
}

.markdown table td {
    background-color: var(--bs-light);
}

.markdown table tr:nth-child(odd) td {
    background-color: #e6eaef;
}